<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.CMain">
	<insert id="insertCMain" parameterType="CMainDto">
		INSERT INTO CON_CATEGORY_MAIN
		VALUES(con_category_main_seq.NEXTVAL,#{store_seq},#{category_code})
	</insert>
	
	<select id="selectCMain" parameterType="int" resultType="CMainDto">
		<![CDATA[
		SELECT *
		FROM CON_CATEGORY_MAIN 
		WHERE store_seq=#{store_seq}
		]]>
	</select>
	
	<insert id="updateCMain" parameterType="CMainDto">
		UPDATE CON_CATEGORY_MAIN 
		SET CATEGORY_CODE =#{category_code}
		WHERE store_seq = #{store_seq}
	</insert>
	
</mapper>