<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
  
<mapper namespace="com.hk.conred.STime">

	<insert id="insertSTime" parameterType="Map">
		INSERT ALL
		<foreach collection="list" item="item">
			INTO CON_STORE_TIME VALUES(get_store_time_seq,#{item.store_seq},#{item.store_time_day},#{item.store_time_open},#{item.store_time_close},#{item.store_time_break})
		</foreach>
		SELECT *FROM DUAL
	</insert>
<!-- 	
	첫 등록시 바로 넣을때는 :insert,currval로도 됨 하지만 매퍼를 하나만 만들기위해 seq불러와서 하기
	임시 저장해놓았다가 넣을 때는 :insert, seq불러와서
	수정할 때는 udpate, seq불러와서
	
	수정할때 요일을 추가할 수도 있을건데 그땐 어떻게 하나?
	delete와 udpate를 둘다 해야하나
	아니면 애초에 모든값을 다 받아온 후, 여부값으로 처리할까
	일단은 수정은 생각하지말고 하자
 -->
	<update id="updateSTime" parameterType="STimeDto">
		UPDATE CON_STORE_TIME 
		SET
		STORE_TIME_OPEN = case STORE_TIME_SEQ 
		<foreach collection="list" item="item">
			when #{item.store_time_seq} then #{item.store_time_open}
		</foreach>
		else STORE_TIME_OPEN end,
		STORE_TIME_CLOSE = case STORE_TIME_SEQ 
		<foreach collection="list" item="item">
			when #{item.store_time_seq} then #{item.store_time_close}
		</foreach>
		else STORE_TIME_CLOSE end,
		STORE_TIME_BREAK = case STORE_TIME_SEQ 
		<foreach collection="list" item="item">
			when #{item.store_time_seq} then #{item.store_time_break}
		</foreach>
		else STORE_TIME_BREAK end
		WHERE STORE_SEQ =#{store_seq}
	</update>
	
	<select id="selectSTime" parameterType="int" resultType="STimeDto">
		<![CDATA[
		SELECT *
		FROM CON_STORE_TIME 
		WHERE store_seq=#{store_seq}
		]]>
	</select>
</mapper>
	   